<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <ion-list>
      <ion-item>
        <ion-input type="number"[(ngModel)]="visor"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>


      <ion-row>
        <ion-col>
          <ion-button expand="block" color="light" (click)="escreverNumero('7')">7</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="light" (click)="escreverNumero('8')">8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="light" (click)="escreverNumero('9')">9</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block"  color="medium" (click)="escolherOperacao('/')">/</ion-button>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
        <ion-button expand="block" color="light" (click)="escreverNumero('4')">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="light" (click)="escreverNumero('5')">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="light" (click)="escreverNumero('6')">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="medium" (click)= "escolherOperacao('*')">*</ion-button>
      </ion-col>
      </ion-row>


      <ion-row>
      <ion-col>
         <ion-button expand="block" color="light" (click)="escreverNumero('1')">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="light" (click)="escreverNumero('2')">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="light" (click)="escreverNumero('3')">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block"  color="medium" (click)="escolherOperacao('-')">-</ion-button>
        </ion-col>
      </ion-row>

      
      <ion-row>
          <ion-col>
            <ion-button expand="block" color="light" (click)="escreverNumero('0')">0</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="light" (click)="virgula()">,</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="light" (click)="calcular()">=</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="medium" (click)="escolherOperacao('+')">+</ion-button>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col>
          <ion-button expand="block" color="warning" (click)="limpar()">LIMPAR</ion-button>
          </ion-col>
          <ion-col>
          <ion-button expand="block" color="warning" (click)="deletar()">APAGAR</ion-button>
        </ion-col>
        </ion-row>

    </ion-grid>
   </div>
</ion-content>
